body{
	background-image: url(../image/bascketball01.jpg);
	background-size: 100%;
}
input[type='text'],input[type='password']{
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	outline-style: none;
	color: white;
}
span#register{
	color: orange;
	text-shadow: 0 0 10px;
	font-size:50px;
	position: relative;
	left: 0px;
	top: 0px;
}
div#log{
	position: absolute;
	left: 43%;
	top: 40%;
	line-height: 40px;
}
.l{
	color: white;
}
input[type='submit'],button[type='button']{
	color: black;
	position: relative;
	left: 70px;
}
